#about{
	display: flex;
	justify-content: center;

	.section{
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 1rem;

		.name-section{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			.section-subtitle{
				font-size: .8rem;
				font-weight: 400;
			}

			.section-title{
				font-size: 1.5rem;
				font-weight: 600;
			}
		}

		.about-cont{
			display: grid;
			grid-template-rows: auto auto;
			width: 100%;

			.top-row{
				display: flex;
				justify-content: center;
				flex-direction: row;
				padding: 1rem;
				gap: 1rem;

				.about-img-section{
					display: flex;
					justify-content: flex-end;
					align-items: center;
		
					.about-img{
						width: 220px;
						border-radius: 20px;
					}
				}
		
				.about-text-section{
					display: flex;
					justify-content: center;
					flex-direction: column;
					gap: 2rem;
		
					.experience-elements{
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;
						gap: 1rem;
		
						.exp-element{
							width: auto;
							border: 1px solid #6d6d6d;;
							border-radius: 20px;
							padding: 1rem;
							display: flex;
							align-items: center;
							flex-direction: column;
							gap: 1rem;
							
							.exp-icon{
								width: 1.5em;
								height: 1.5em;
								stroke-width: 1;
							}
		
							.exp-text{
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
		
								.exp-title{
									font-size: 1rem;
									margin-bottom: 1rem;
								}
		
								.exp-description{
									font-size: .9rem;
									color: #6d6d6d;
									margin-bottom: .5rem;
								}
		
								.exp-description-bold{
									font-size: 1rem;
									color: #6d6d6d;
									font-weight: 600;
									margin-bottom: 1rem;
									text-align: center;
								}
		
								.exp-btn{
									background-color: transparent;
									border: 1px solid #6d6d6d;
									padding: .5rem;
									border-radius: 10px;
									font-size: .8rem;
									width: 150px;
		
									&:hover{
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}

			.bot-row{
				padding: 1rem;

				.experience-text{
						.text{
							font-size: 1rem;
							line-height: 1.5;
						}
					}
			}
	
			
		}
	}
}

@media (max-width: 500px){
	#about{
		.section{
			.about-cont{
				display: flex;
				flex-direction: column;

				.top-row{
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.about-img-section{
						.about-img{
							width: 270px;
						}
					}

					.about-text-section{
						.experience-elements{
							display: flex;
							flex-direction: column;

							.exp-element{
								.exp-text{
									text-align: center;
								}
							}
						}
					}
				}

				.bot-row{
					margin-top: 1rem;
					.experience-text{
						padding: 0 1.5rem;
						.text{
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 501px) and (max-width: 900px) {
	#about{
		.section{
			row-gap: 0;
			.name-section{
				.section-subtitle{
					display: none;
				}
				.section-title{
					font-size: 1rem;
				}
			}

			.about-cont{
				display: flex;
				flex-direction: column-reverse;

				.top-row{
					padding-top: 0;

					.about-img-section{
						display: none;
					}

					.about-text-section{
						.experience-elements{
							gap: 2rem;

							.exp-element{
								padding: .5rem;

								.exp-text{
									text-align: center;
									
								}
							}
						}

						.experience-text{
							width: 80%;
						}
					}
				}

				.bot-row{
					.experience-text{
						.text{
							font-size: .85rem;
						}
					}
				}

				
			}
		}
	}
}

@media (min-width: 1300px) and (max-width: 1919px){
	#about{
		.section{
			.about-cont{
				padding: 0 9%;
			}
		}
	}
}

@media ( min-width: 1920px) {
	#about{
		padding: 5rem 15%;

		.section{
			.about-cont{

				.top-row{
					.about-text-section{
						.experience-element{
							justify-items: center;
							gap: 1rem;
						}
						
					}
				}

				.bot-row{
					.experience-text{
						.text{
							font-size: 1rem;
							line-height: 2;
						}
					}
				}

				
			}
		}
	}
}

@media (min-width: 2250px) {
	#about{
		.section{
			.name-section{
				.section-subtitle{
					font-size: 1.5rem;
				}

				.section-title{
					font-size: 2.5rem;
				}
			}

			.about-cont{
				position: relative;

				.top-row{
					flex-direction: column-reverse;
					align-items: flex-start;
					gap: 4rem;

						.about-img-section{
							.about-img{
								width: 300px;
								border-radius: 20px;
							}
						}

					.about-text-section{
						.experience-elements{
							.exp-element{
								.exp-icon{
									width: 3em;
									height: 4em;
								}
								.exp-text{
									text-align: center;

									.exp-title{
										font-size: 1.8rem;
									}

									.exp-description{
										font-size: 1.5rem;
									}

									.exp-description-bold{
										font-size: 1.8rem;
										text-align: center;
									}

									.exp-btn{
										font-size: 1.2rem;
										width: 200px;
									}
								}
							}
						}
					}
				}

				.bot-row{
					position: absolute;
					top: 490px;
					left: calc(4rem + 300px);
					padding-top: 0;

					.experience-text{
						.text{
							font-size: 1.8rem;
							line-height: 1.5;
						}
					}
				}	
				
				
			}
		}
	}
}