#projects {
	z-index: 9;
  .section {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 2rem;

    .name-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .section-subtitle {
        font-size: 0.8rem;
        font-weight: 400;
      }

      .section-title {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .projects-cont {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 8rem 3rem;
      padding: 1rem 10%;

      .project-element {
				position: relative;
        width: 100%;
				height: 350px;
        display: flex;
        flex-direction: column;

        .project-img {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
					border-top-left-radius: 1.2rem;
					border-top-right-radius: 1.2rem;

          .img {
            width: 100%;
            object-fit: cover;
            display: block;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 80%;
            pointer-events: none;
            background: linear-gradient(
              to bottom,
              rgba(255, 255, 255, 0) 20%,
              var(--gradient-fade) 60%
            );
          }
        }

				.project-info-cont{
					position: absolute;
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					top: 35%;

					.project-title-cont {
						display: flex;
						flex-direction: row;
						justify-content: center;
						margin-bottom: 1rem;

						.project-title {
							font-size: 2rem;
							font-weight: 600;
						}
					}

					.project-text {
						position: relative;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						gap: 2rem;
						padding: 0 0.5rem;
						line-height: 1.5;

						.project-description {
							font-size: 1rem;
							text-align: justify;
							padding: 0 1.5rem;
							position: absolute;
							top: 0;
						}

						.project-technologies {
							position: absolute;
							top: 165px;
							right: 20px;
							display: flex;
							flex-direction: row;
							gap: 1.3rem;

							.tech-icon {
								height: 2em;
								width: 2em;
							}
						}

						.project-btns {
							position: absolute;
							top: 165px;
							left: 20px;
							width: 100px;
							display: flex;
							flex-direction: row;
							justify-content: center;
							border-bottom-left-radius: 1.2rem;

							.btn {
								display: flex;
								justify-content: center;
								font-size: 1rem;
								width: 150px;
								background-color: transparent;
								border: 0;
								border-radius: 50%;
								padding: 0.5rem;

								&:hover {
									cursor: pointer;
								}

								.btn-text{
									stroke: currentColor;
									height: 1.5em;
									width: 1.5em;
									stroke-width: 2;
								}
							}
						}
					}
				}
      }
    }
  }
}


@media (max-width: 500px) {
	#projects{
		.section{
			.projects-cont{
				padding: 0;
				grid-template-columns: 1fr;
				grid-template-rows: auto;

				.project-element{
					margin-bottom: 250px;
					
					.project-info-cont{
						top: 25%;

						.project-text{
							.project-technologies{
								top: 230px;
								gap: 2rem;
							}

							.project-btns{
								top: 300px;
								left: 230px;

								.btn{
									padding: .5rem 1rem;

									.btn-text{
										height: 2em;
										width: 2em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: 501px) and (max-width: 900px) {
	#projects{
		.section{
			.name-section{
				.section-subtitle{
					display: none;
				}
			}

			.projects-cont{
				padding: 0;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;

				.project-element{
					margin-bottom: 150px;
					
					.project-info-cont{
						top: 25%;

						.project-text{
							.project-technologies{
								top: 200px;
								gap: 2rem;
							}

							.project-btns{
								top: 250px;
								left: 275px;

								.btn{
									padding: .5rem 1rem;

									.btn-text{
										height: 2em;
										width: 2em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media (min-width: 1920px) {
	#projects{
		.section{
			.projects-cont{
				gap: 3rem 5rem;
				padding: 0 15%;

				.project-element{
					margin-bottom: 100px;
					
				}
			}
		}
	}
}


@media (min-width: 2250px) {
	#projects{
		.section{
			.projects-cont{
				gap: 3rem 5rem;
				padding: 0;

				.project-element{
					margin-bottom: 100px;
					
				}
			}
		}
	}
}