#skills{
	display: flex;
	justify-content: center;

	.section{
		display: grid;
		grid-template-rows: auto auto;
		row-gap: 1rem;

		.name-section{
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;

			.section-subtitle{
				font-size: .8rem;
				font-weight: 400;
			}

			.section-title{
				font-size: 1.5rem;
				font-weight: 600;
			}
		}

		.skills-cont{
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 3rem;
			align-items: flex-start;
			width: 100%;

			.skills-element{
				display: flex;
				flex-direction: column;
				border: 1px solid #6d6d6d;
				border-radius: 1rem;
				height: 17rem;
				margin-bottom: 30px;

				.skill-title-section{
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 1rem;
					padding: 1rem;
					padding-bottom: 0;


					.skill-icon{
						stroke-width: 2;
						height: 1.5rem;
						width: 1.5rem;
						color: #6d6d6d;
					}

					.skill-title{
						font-size: 1.2rem;
						font-weight: 500;
						color: #6d6d6d;
					}
				}

				.skill-tech-section{
					flex: 1;
					overflow-y: auto;
					padding: 1rem;
					gap: 1rem;

					.tech-item{
						display: flex;
						align-items: center;
						gap: .5rem;

						.check-icon{
							stroke-width: 1.8;
							height: 1.2rem;
							width: 1.2rem;
							color: #6d6d6d;
						}

						.tech{
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	#skills{
		.section{
			gap: 3rem;

			.skills-cont{
				display: flex;
				flex-direction: column;
				gap: 2rem;

				.skills-element{
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: 501px) and (max-width: 900px) {
	#skills{
		.section{
			.name-section{
				.section-subtitle{
					display: none;
				}
			}

			.skills-cont{
				.skills-element{
					.skill-title-section{
						.skill-icon{
							height: 1.6rem;
						}

						.skill-title{
							font-size: 1.2rem;
						}
					}

					.skill-tech-section{
						.tech-item{
							.tech{
								font-size: .9rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1920px) and (max-width: 2249px) {
	#skills{
		.section{
			width: 100%;
			padding: 5rem 15%;
		}
	}
}

@media (min-width: 2250px) {
	#skills{
		.section{
			width: 100%;

			.name-section{
				.section-subtitle{
					font-size: 1.5rem;
				}

				.section-title{
					font-size: 2.5rem;
				}
			}

			.skills-cont{
				.skills-element{
					.skill-title-section{
						.skill-icon{
							width: 2.5rem;
							height: 2.5rem;
						}

						.skill-title{
							font-size: 2.5rem;
						}
					}

					.skill-tech-section{
						gap: 2rem;
						padding: 2rem;

						.tech-item{
							gap: 1.5rem;

							.check-icon{
								height: 1.8rem;
								width: 1.8rem;
							}

							.tech{
								font-size: 1.8rem;
							}
						}
					}
				}
			}
		}
	}
}